@import "_variables.scss";

html{
    font-size: 62.5%;
    padding: 0rem;
    margin-top: -3rem;
    box-sizing: 0rem;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center, stretch;
    position: absolute;
    top: 100rem;
}
.image1{
    width: 20%;
    border: 10px solid white;

}
.image2{
    width: 20%;
    border-top: 10px solid white;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
}
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: $mainPeach;
    z-index: 3;
  }
  
  .row:hover .overlay {
    opacity: .8;
  }
  
  .overlay-text {
    color: black;
    font-family: 'League Script', cursive;
    font-size: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }